body{
    /* background-color: rgb( 20, 200, 200); */
    background-color: rgb(26, 26, 26);
}

/* #cabecalho1{
    background-color: rgb(49, 49, 49);
    height: 60px;
    width: 500px;
    margin: -8px;
    border: 0px;
}

#cabecalho h2{
    
} */

#box1{
    height: 60px;
    width: 500px;
    background-color: rgb(49, 49, 49);
    margin-top: -8px;
    margin-left: -8px;
}

#h1_1{
    margin-left: 200px;
}

#link1{
    color: turquoise;
}